
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  display: block;
  margin: 0 auto;
}

.header{
    margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  /* border: 1px solid black; */
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.logo{
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.nav-items{
    padding: 0px 20px;

}

.nav-items ul{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: bold;
    display: flex;
}

.nav-items ul li{
    list-style: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.res-container{
    display: flex;
    padding: 80px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.res-card{
    
    width: 250px;
    margin: 20px;
    font-size: 14px;
    font-family: bold;
    background-color: #fff;
    /* height: 400px; */
    padding: 5px;
    padding-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    cursor: pointer;


}
.res-card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.search{
    padding: 10px;
}
.search-container{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    gap: 15px;
}

.search-container input{
    min-width: 250px;
    padding: 10px;
}
.search-container input:focus {
    outline: 0;
}

.search-container button{
    min-width: 100px;
    padding: 10px;
    cursor: pointer;
}
.footer-container{

  background-color: black;
  margin: 5px;
  padding: 20px 10px;
  color: #fff;
  /* border: 1px solid black; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;

}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #d0c8c8;
    margin: 20px;
    border-radius: 11px;
  }


  .login {
    background-color: orange;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  .login:hover {
    background-color: #f6bb4d;
  }